body {
  background: azure;
}

#slumdog-millionaire-board {
  text-align: center;
  margin: auto;
}

.answer {
  width: 200px;
  height: 75px;
  background: rgba(159, 159, 243, 100);
  border-style: solid;
  border-color: black;
  border-width: 2px;

}
